/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

.main-container {
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.7;
  background-color: #c3e1db;
  color: #333;
}
